@import 'mixins/box-shadow';

.inhabit-module-test-module {
  @include box-shadow(0px, 0px, 10px, rgba(0,0,0,0.75));
  margin: 0;
  padding: 0;

  .kitten-image {
    display: block;
    width: 100%;
  }
}
